services:
  app:
    build: .
    container_name: app-collectors
    ports:
      - "3030:3030"
    env_file:
      - .env.local
    environment:
      - TZ=America/Lima
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    restart: unless-stopped